# Logs
logs
*.log
npm-debug.log*

# Dependencies - The "**/" prefix catches them in any folder (v1 or v2)
**/node_modules/
**/dist/
**/dist-ssr/
.vite/

# Editor folders
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Environment variables
.env
*.local

# TypeScript
*.tsbuildinfo

# Build folders
.vercel
.netlify
.firebase